*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/*regole temporanea per il layout*/
.tall{
  height: 150px;
}

.bk-blue{
  background-color: blue;
}

.bk-yellow{
  background: yellow
}

.border{
  border: 1px solid black;
}


/*margini laterali*/
.lati-margin-5{
  margin: 0 2.5%;
}

.lati-margin-15{
  margin: 0 7.5%;
}

.destra-margin-5{
  margin-right: 5%;
}


/*floats*/
.right{
  float:right;
}

.left{
  float: left;
}

/*da utilizzare su genitori di colonne flottanti*/
.row::after{
  content: "";
  display: table;
  clear: both;
}

.centro-80{
  width: 80%;
  margin: 0 auto;
}

/*regole per il testo*/

/*colore*/
.text-white{
  color: white;
}
.text-grey{
  color: #696969;
}

/*centratura*/
.text-center{
  text-align: center;
}

/*link*/
a{
  text-decoration: none;
  color: inherit;
}

a:hover{
  text-decoration:underline;
}


/*header*/
nav{
background: white;
}

/*main*/
.centro-90{
  width: 90%;
  margin: 0 auto;
}
.col{
  width: 45%;
  margin-top:5%;
  margin-bottom:5%;
}

/*sezione 1*/
.bk-grey{
  background: #fafafa
}

main .row .col:first-child,
.monopattino .col {
  margin-right: 10%
}

.scooter{
  height:350px;
  width: 200px;
}


/*section 3*/
.monopattino{
  background: url("https://helbiz.com/asset/pages/newhome/images/ScooterHelbiz-2400.jpg");
  background-size: cover;
  min-height: 500px;
  font-size: 1.5em;
}

.monopattino h2{
  margin-top: 15%;
}

.monopattino p{
  margin: 15px 0;
}




/*footer*/