* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 0;
}

body{
  font-size: 17px;
}

/*regole temporanea per il layout*/

.tall {
  height: 150px;
}

.bk-blue {
  background-color: blue;
}

.bk-yellow {
  background: yellow
}

.border {
  border: 1px solid black;
}

/*margini laterali*/

.lati-margin-5 {
  margin: 0 2.5%;
}

.lati-margin-15 {
  margin: 0 7.5%;
}

.destra-margin-5 {
  margin-right: 5%;
}

/*floats*/

.right {
  float: right;
}

.left {
  float: left;
}

/*da utilizzare su genitori di colonne flottanti*/

.row::after {
  content: "";
  display: table;
  clear: both;
}

.centro-80 {
  width: 80%;
  margin: 0 auto;
}

/*regole per il testo*/

/*colore*/

.text-white {
  color: white;
}

.text-grey {
  color: #696969;
}

/*centratura*/

.text-center {
  text-align: center;
}

/*link*/

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*header*/

header {
  background: white;
  position: sticky;
  top: 0;
  min-height: 50px;
  z-index: 3;
}

nav img{
  margin: 15px auto;
  height: 20px;
  width: 80px
}

nav li{
  margin: 15px auto;
  font-size: 13px;
  list-style: none;
  display: inline-block;
  padding: 0 10px;
}

nav span{
  padding: 0 5px;
}

nav span:nth-of-type(2){
  border-right: 1px solid black;
  border-left: 1px solid black;
}

nav li a{
  color: inherit;
}

/*main*/

.centro-90 {
  width: 90%;
  margin: 0 auto;
}

.col {
  width: 45%;
  margin-top: 5%;
  margin-bottom: 5%;
}

main section:nth-child(2) .row .col:first-child,
main section:nth-child(5) .row .col:first-child  {
  margin-right: 10%
}

/*sezione 0*/
#hero{
  min-height: 550px;
  background-image: url(https://helbiz.com/asset/pages/newhome/images/hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}

#hero div{
  padding-top: 15%; 
}

#hero h1{
  font-size: 3rem;
}

#hero p{
  margin: 15px auto;
  font-size: 14px;
}

/*sezione 1*/

.bk-grey {
  background: #fafafa
}

.scooter img {
  height: 350px;
  width: 200px;
}

.scooter p{
  margin: 15px 0;
}

.scooter a{
  color: #0070c8;
}


/*sezione 2 */
.old-man{
  min-height: 500px;
  background: url(https://helbiz.com/asset/pages/newhome/images/HelbizBanner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.slider .row{
  width: 70%;
  margin: 0 auto;
  font-size: 1.25rem
}

.slider .col{
  width: 30%;
  margin-top: 75px;
  margin-left: 5%;
  min-height: 100px
}

.slider .row .col:nth-child(2){
  margin: 0 0;
  position: relative;

}

.slider img{
  height: 600px;
  margin: auto;
  position: absolute;
  bottom: -150px;
  transform: translateX(-25%)
}



/*sezione 3*/

.monopattino {
  background: url("https://helbiz.com/asset/pages/newhome/images/ScooterHelbiz-2400.jpg");
  background-size: cover;
  min-height: 500px;
  font-size: 1.5rem;
}

.monopattino h2 {
  margin-top: 15%;
}

.monopattino p {
  margin: 15px 0;
}

.monopattino a{
  color: inherit;
}

/*sezione 4*/

.section-4 div{
  text-align: center;
  color: white;
}

.section-4 h2{
  padding-top: 15%;
  font-size: 2.5rem;
}

.section-4 p{
  margin: 20px auto;
  font-size: 1.2rem;
}

.section-4 a{
  margin: 0 10px;
  color: inherit;
  font-size: 1.2rem;
}

.iphone {
  background: url(https://helbiz.com/asset/pages/newhome/images/HelbiZAPP.png) bottom no-repeat,
   linear-gradient(#41566a, #252f38) 50% no-repeat;
   background-size: 500px, 100%; 
  min-height: 600px;
}

.cityscape{
  background: url(https://helbiz.com/asset/pages/newhome/images/Cities-1500.jpg);
  background-size: cover;
  min-height: 600px;
}


/*sezione 5*/

.section-5{
  height: 420px;
  background: url(https://helbiz.com/asset/pages/newhome/images/Social-Banner.jpg) no-repeat;
  background-size: cover;
  margin-bottom: 5%;
}

.section-5 div{
  width: 100%;
  height: 33.3%;
}

.section-5 div:nth-child(2){
  width: 30%;
  height: 30%;
  margin:auto;
  background: white;
  text-align: center;
}

.section-5 p{
  font-size: 2rem;
  padding-top: 7%;
}

.section-5 img{
  width: 25px;
  height: 25px;
  margin: auto 10px;
}
/*footer*/

footer div{
  width: 100%;
  height: 30%;
  border: 1px solid black;

}